.JobSearch{
    text-align: left;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 35%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .search{
    text-align: center;
  }
#searchBar{
    margin:15px 10px;
    padding:10px 14px;
    width:55%;
    height:40%;
    border-radius: 12px;
}
img{
    width:3%;
    height:3%;
}
.JobstatusDiv{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
label{
    margin:3px;
}

button{
    margin-left: auto; 
    color: white;
    border-radius: 12px;
    border-color: #01A7C2;
    border-style: none;
    padding:10px 14px;
    font-size: 17px;
    margin-right: 5px;
    background-color: #01A7C2;
}