
.JobSearch{
    text-align: left;
    
  }
  .Jobtitle{
    font-size: 20px;
  }
  .card >.salary, .JobstatusDiv > .status , .JobstatusDiv > .Jobstatus{
    font-size: 17px;
  }
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .JobSearch .card {
    width: 35%;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #d8eaff;
    border: 2px solid #01A7C2;
    /* border-radius: 8px; */
  }
  
  .JobSearch input[type='text'] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .JobSearch .search{
    text-align: center;
  }
#searchBar{
    margin:15px 10px;
    padding:10px 14px;
    width:55%;
    height:40%;
    border-radius: 12px;
}
.JobSearch img{
    width:3%;
    height:3%;
}
.JobstatusDiv{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.JobSearch label{
    margin:3px;
}

.JobSearch button{
    margin-left: auto; 
    color: white;
    border-radius: 12px;
    border-color: #01A7C2;
    border-style: none;
    padding:10px 14px;
    font-size: 17px;
    margin-right: 5px;
    background-color: #01A7C2;
    cursor: pointer;
}