.addJobContainer {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.subcontainerJob {

    /* max-width: 500px; */
    width: 50%;
    height: 100%;
    background-color: white;
    box-shadow: 0 20px 40px -20px rgba(14, 0, 47, 0.11);
    /* padding: 50px 35px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-direction: column; */
}

.subcontainerJob h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    line-height: 42px;
    text-align: center;
}

.addJobContainer  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
  }

.subcontainerJob label {
    /* color: #ffffff; */
    display: block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
}

.subcontainerJob input {
    display: block;
    height: 30px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 30px 0 0;
}

.subcontainerJob textarea{
    display: block;
    height: 70px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 30px 0 0;
}

.subcontainerJob button {
    margin: 9px 0 0 0px;
    width: 80px;

    background-color: #07263B;
    color: #ffffff;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    /* color: black; */
}

.subcontainerJob button:hover {
    background-color: #00a2bb;
    color: #ffffff;
}

.subcontainerJob .errorLabel {
    margin-top: 10px;
    color: red;
    font-size: 10px;
}


  
  