.job-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #fff;
  }
  .job-details-container .description{
    color: #000000;
  }
  .job-details-card {
    background-color: #d8eaff;
    padding: 25px;
    border: 2px solid #01A7C2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px; 
    height: 250px;
    max-height: max-content; 
    text-align: left; 
    color:black;
    height: max-content;
  }
  
  .job-details-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .job-details-card p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .job-details-card button {
    background-color: #06273A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; 
    margin: 0 auto; 
    font-weight: bold;
    
  }
  
  .job-details-card button:hover {
    background-color: #1a4c69;
  }
 .jobcontainer{ display: flex;
    align-items: center; 
    justify-content: space-between;
}
.job-details-container > h2, .jobcontainer > p{
    font-weight: bold;
}
