.professorsjobs{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
}
.professorsjobs-container{
    width: 50%;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);

}
.professorsjobs-container h2{
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 42px;
    text-align: center;
}
.professorsjobs-container .subcontainer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 20px 30px;
    width: 100%;
}
.professorsjobs-container .eachjob{
    padding: 10px 0 15px 0;
    width: 90%;
    margin-bottom: 30px;
    border-bottom: 3px solid #01A7C2;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.professorsjobs-container .eachjob h3{
 font-size: 18px;
}
.professorsjobs-container .eachjob p{
    width: 90%;
    font-size: 16px;
    /* word-break: break-all; */
}
.professorsjobs-container button{
    width: 90px;
    margin-right:10px;
    background-color: #07263B;
    color: #ffffff;
    padding: 5px 0;
    font-size: 14x;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}