@import url("https://fonts.googleapis.com/css?family=Montserrat:600");
@import url("https://fonts.googleapis.com/css?family=Montserrat:800");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --blue: #303090;
  --light-blue:#5b5bb5;
}
.profilecontaitner{
    /* height: 80vh; */
    /* min-height: max-content; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
  animation: loadProfile 0.6s ease-in-out;
  animation-fill-mode: both;
  font-size: 0.9rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: aliceblue; */
  height: max-content;
  margin: 10px;
  max-width: 900px;
  min-height: 450px;
  min-width: 600px;
  box-shadow: 0 30px 50px -20px rgba(14, 0, 47, 0.21);
  padding: 0 0 10px 0;
}
.container {
  animation: loadProfileImage 1s ease-in-out 0.5s;
  animation-fill-mode: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
} 
.profile-info{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 18px; */
}
.profile-image{
  margin: 30px 0 0 0;
  animation: loadProfileImage 1s ease-in-out 1s;
  animation-fill-mode: both;
}
.areaOfWork{
  color: black;
  font-size: 15px;
}
.profile-image img{
  width: 8vw;
  /* background-color: antiquewhite; */
  border-radius: 50%;
}
.first-name{
  font-size: 26px;
}

.description{
  color: rgb(112, 112, 112);
  font-size: 14px;
}
.otherInfo h3{
  font-size: 16px;
  color: rgb(112, 112, 112);
  text-align: left;
}
.otherInfo h3 span{
  color: var(--blue);
}
.social-profile a{
    color: #07263B;
    padding: 7px 6px 2px 6px;
    border: 1px solid #07263B;
    border-radius: 2px;
    margin: 0 3px;
    cursor: pointer;
    size: 10px;
}
.social-profile a:hover{
    background-color: #07263B;
    color: white;
}
.social-profile a i {
    font-size: 14px;
}

.profilecontaitner button{
  margin: 19px 0 0 0px;
  width: 80px;

  background-color: #07263B;
  color: #ffffff;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.profile{
background-color: #d8eaff;}
.areaOfWork,  .Qualification{
  font-size: 17px;
  color:black;
}