.professorsResponse{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
}
.professorsResponse-container{
    width: 50%;
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);

}
.professorsResponse-container h2{
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    line-height: 42px;
    text-align: center;
}
.professorsResponse-container .subcontainer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 80%;
}
.professorsResponse-container .eachresponse h3{
 font-size: 18px;
}
.professorsResponse-container .eachresponse p{
    font-size: 16px;
}
.professorsResponse-container button{
    width: 90px;
    margin-right:10px;
    background-color: #07263B;
    color: #ffffff;
    padding: 5px 0;
    font-size: 14x;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}