.navbar-content-div {
    max-width: 95rem;
    width: auto;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .Navbar-content-div {
      max-width: 75rem;
    }
}

#Navbar-img{
    padding-left: 20px;
  }

  @media (max-width: 800px) {
    #navbar-img{
      height: .5rem;
    }
  }
  #navbar {
    height: max-content;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    background-color: white;
    padding: 1rem 0;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;
    
    box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 800px) {
    #Navbar {
      text-align: center;
      height: auto;
    }
  }

.nav-link {
  text-decoration: none;
  color: #333;
  margin: 0 0.5rem;
  padding: 0 0.6rem;
  transition: border-bottom 0.2s;
  font-size: 20px;
}
@media (max-width: 475px) {
  .nav-link {
    margin: 0 0.2rem;
    padding: 0 0.2rem;
    font-size: 1.2rem;
  }
}
.nav-link:hover {
  color: #01A7C2;
  border-bottom: 2px solid #01A7C2;
}
.nav-link:active {
  color: #01A7C2;
}
#nav-bar{
  margin-right: 1rem;
}
