
.signin-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  
}
.signin-Card{
  height: 60%;
    width: 300px;
    background-color: #01A7C2;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.signin-Card *{
  font-family: 'Poppins',sans-serif;
  
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.signin-Card h2{
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  line-height: 42px;
  text-align: center;
}
.signin-Card label{
  color: #ffffff;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}
.signin-Card input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}
.signin-Card input:focus{
  border-color: #07263B;
  background-color: #00a2bb;
  color: #ffffff;
}
.signin-Card ::placeholder{
  color: #e5e5e5;
}
.signin-Card button{
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  color: #07263B;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  /* color: black; */
}
.signin-Card button:hover{
  background-color: #07263B;
  color: #ffffff;
}
.inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
  }
  .signnavigator{
    color: #07263B;
  }
  .signnavigator:hover{
    cursor:pointer;
    color: white;
  }